{% extends "gestion_recursosPP.html" %}

{% block title %} Registro de Productos  {% endblock %}

{% block body %} 
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h1>Formulario de Producto</h1>
        <div class="card">
            <div class="card-body">
              <form action="/registrar_PRODUCTO/" method="POST">{% csrf_token %}
                <input type="text" id="txtNombre" name="txtNombre" class="form-control" placeholder="Nombre" required >
                <input type="text" id="txtMarca" name="" class="form-control" placeholder="Marca" >
                <input type="number" id="numRegistro_Cantidad" name="numRegistro_Cantidad" class="form-control" placeholder="Cantidad" required>
                <input type="text" id="txtCodigo" name="txtCodigo" class="form-control" placeholder="Codigo" minlength="6" maxlength="13" required>
                <input type="number" id="numDescuento" name="numDescuento" class="form-control" placeholder="Descuento" >
                <input type="number" id="numPrecio" name="numPrecio" class="form-control" placeholder="Precio" required >
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
    </div>
{% endblock %}